<div class="gototop js-top"><a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a></div>
<!-- jQuery -->
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="{{ site.baseurl }}/assets/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="{{ site.baseurl }}/assets/js/jquery.waypoints.min.js"></script>
<!-- Main -->
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
<script src="{{ site.baseurl }}/assets/js/baguetteBox.js" async></script>
<script src="{{ site.baseurl }}/assets/js/baguetteOnload.js"></script>