<footer id="" role="contentinfo" style="background-color:rgb(66, 66, 66);left: 0;bottom: 0; width: 100%;">
    <div class="container">
        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p><br>
                    <small style="color:white" class="block">&copy;</small>
                    <small style="color:white" class="block">Designed by Mangirdas Zilys</small>
                </p>
            </div>
        </div>
    </div>
</footer>


