<div class="baguetteBoxOne gallery">
    <div class="portfolio">{% assign j=0 %}{% assign k=0 %}
        {% for i in (0..page.foto_sk) %}{% if i!=0 %}{% if page.video_formatai[j] == i %}{% assign j=j | plus : 1%}
        {% if page.video_formatai[j]=="GIF" or page.video_formatai[j]=="gif" %}
        <a class="item polaroidine" href="{{ site.baseurl }}/assets/photo/day{{page.diena}}-img{{i}}.{{page.video_formatai[j]}}" title="{{page.video_formatai[j]}}">
            <i class="fa fa-video" aria-hidden="true"></i>
            <div class="item-cover" style="background-image: url({{ site.baseurl }}/assets/photo/day{{page.diena}}-img{{i}}.{{page.video_formatai[j]}})"></div>
        </a>{% elsif page.video_formatai[j] contains "YT" %}
        <a class="item polaroidine" href="https://youtube.com/embed/{{page.video_formatai[j]|remove:"YT "}}?autoplay=1">
            <i class="fa fa-video" aria-hidden="true"></i>
            <div class="item-cover" style="background-image: url({{ site.baseurl }}/assets/thumbnails/videotriangle.jpeg)"></div>
        </a>{% else %}
        <a class="item polaroidine" href="{{ site.baseurl }}/assets/photo/day{{page.diena}}-img{{i}}.{{page.video_formatai[j]}}" title="{{page.video_formatai[j]}}">
            <i class="fa fa-video" aria-hidden="true"></i>
            <div class="item-cover" style="background-image: url({{ site.baseurl }}/assets/thumbnails/videotriangle.jpeg)"></div>
        </a>{% endif %}{% assign j=j | plus : 1%}{% else %}
        <a class="item polaroidine" href="{{ site.baseurl }}/assets/photo/day{{page.diena}}-img{{i}}.jpeg"{% if page.foto_komentarai[k] == i %} {% assign k=k | plus : 1%} title="{{page.foto_komentarai[k]}}">{% assign k=k | plus : 1%}{% endif %}>
            <i class="fa fa-eye" aria-hidden="true"></i>
            <div class="item-cover" style="background-image: url({{ site.baseurl }}/assets/thumbnails/tn-day{{page.diena}}-img{{i}}.jpeg)"></div>
        </a>{% endif %}{% endif %}{% endfor %}
    </div>
</div>