<nav class="fh5co-nav polaroidine" role="navigation" >
    <div class="container polaroidine" id="header_shrink" >
        <div class="fh5co-top-logo" >
            <div ><a  href="{{site.baseurl}}/index.html"><i class="fas fa-home"></i></a></div>
        </div>
         <div class="fh5co-top-menu menu-1 text-center" >           
            <ul>
                <li><a href="{{site.baseurl}}/index.html">South East Asia</a></li>
            </ul>
        </div>
        <div class="fh5co-top-social menu-1 text-right">
            <ul class="fh5co-social" >
                <li><a href="https://instagram.com/mariuskontautas"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</nav>