<div class="row">
    <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center mb-4">
            <div class="text">
                <span>Today on foot: </span>
                <strong class="count">{{page.nueita_snd}}</strong>
                <span> km</span>
            </div>
        </div>
    </div>
    <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center mb-4">
            <div class="text">
                <span> Total on foot: </span>
                <strong class="count">{{page.nueita_viso}}</strong>
                <span> km</span>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center mb-4">
            <div class="text">
                <span>Temperature: </span>
                <strong class="count">{{page.temperatura}}</strong>
                <span> °C</span>
            </div>
        </div>
    </div>
    <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center mb-4">
            <div class="text">
                <span>Total distance traveled: </span>
                <strong class="count">{{page.nukeliauta}}</strong>
                <span> km</span>
            </div>
        </div>
    </div>
</div>