<div class="row">
  <div class="col-md-12 justify-content-center counter-wrap ftco-animate">
    <div class="block-18 text-center mb-4">
      <div class="text">{% assign tags = '' | split: '' %}
        {% for tag in site.tags %}{% assign tagName = tag | first | split: ',' %}{% assign tags = tags | concat: tagName %}{% endfor %}
        {% assign tags = tags | sort %}
        {% for tag in tags %}{% assign postCount = site.tags[tag] | size %}
        <a class="mazas" style="float:center" href="{{site.baseurl}}/tag/{{tag|slugify}}">
          <i class="fas fa-map-pin"></i> {{tag}}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
