{% assign valstybes_id=post.tags | size | minus:1%}
<a class="work" href="{{site.baseurl}}{{post.url}}">
    <div class="work-grid polaroidine"
        style="background-image:url({{site.baseurl}}/assets/photo/day{{post.diena}}-img1.jpeg);">
        <div class="inner">
            <div class="desc">
                <h3>{{post.title}}</h3><span class="cat">{{post.tags[valstybes_id]}}</span>
            </div>
        </div>
        <div class="dienos-bottom-right">{% if post.dienu_sk==0 %}# {{post.diena}}{% else %}# {{post.diena}}-{{post.diena | plus : post.dienu_sk}}{% endif %}</div>
    </div>
</a>
